* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 500px;
  width: 100%;
  background-image: url("img/header-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.back {
  height: 500px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: rgb(255,197,120); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,197,120,0.6) 0%, rgba(251,157,35,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,197,120,0.6) 0%,rgba(251,157,35,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,197,120,0.6) 0%,rgba(251,157,35,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 */
}

.grid:nth-child(1) {
  height: 500px;
  background-image: url("img/hamburger0.jpg");
  background-repeat: no-repeat;
  background-position: cover;
} 

.grid-r:nth-child(1) {
  height: 200px;
  background-image: url("img/ham.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-r:nth-child(2) {
  height: 200px;
  background-image: url("img/hamburger-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* product width grid and card (Choose and enjoy) */
.image {
  height: 180px;
  width: 180px;
}

/*  upcoming-events */
.colmn2 {
  height: 300px;
  background-image: url("img/product-img/scroll-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dot {
  height: 15px;
  width: 15px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-top: 50px;
}

.dot:hover {
  background-color: yellow;
}

/* Reservation Section  */
.booking {
  padding-top: 120px;
}

.reservation {
  width: 600px;
  padding: 50px;
  margin: 0 auto;
}

.reserve-table {
  background-image: url("img/product-img/reservation-model-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* foter */
.footer {
  background-image: url("img/product-img/footer-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  opacity: 0.7;
}

.location {
  margin-top: 120px;
}

/************************************ media queries ********************************************/
@media screen and (max-width:767px) {
  .reservation {
    width: 400px;
  }
}

@media screen and (max-width:410px) {
  .reservation {
    width: 300px;
  }
}